<div class="row center-align">
  <div class="row" style="margin-top: 10px;">
    <div class="col s12 m6 left">
      <div class="button-group filters-button-group">
        <button class="waves-effect waves-light btn is-checked" data-filter="*">*</button>
        <button class="waves-effect waves-light btn" data-filter=".New">news</button>
        <button class="waves-effect waves-light btn" data-filter=".Image">images</button>
        <button class="waves-effect waves-light btn" data-filter=".General">general</button>
      </div>
    </div>
    <div class="col s12 m6 right">
      <div class="button-group sort-by-button-group">
        <button class="waves-effect waves-light btn is-checked" data-sort-value="original-order" layout-mode="masonry">original order</button>
        <button class="waves-effect waves-light btn" data-sort-value="name" layout-mode="fitRows">abc</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="grid">
    <% @bookmarks.each do |bookmark|%>
      <div class="grid-item col s12 m6 l4 <%= bookmark.bookmark_type.description %>">
        <%= render partial: "bookmark", object: bookmark %>
      </div>
    <% end %>
  </div>
</div>
